.elementor-1305 .elementor-element.elementor-element-b893864 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-1305 .elementor-element.elementor-element-d79b995{padding:110px 0px 80px 0px;}.elementor-1305 .elementor-element.elementor-element-89375bb:not(.elementor-motion-effects-element-type-background), .elementor-1305 .elementor-element.elementor-element-89375bb > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#f7f3ef;}.elementor-1305 .elementor-element.elementor-element-89375bb{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:100px 0px 100px 0px;}.elementor-1305 .elementor-element.elementor-element-89375bb > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1305 .elementor-element.elementor-element-5d79f830{text-align:center;}.elementor-1305 .elementor-element.elementor-element-5d79f830 .elementor-heading-title{color:#ef5350;font-family:"Handlee", Sans-serif;font-size:20px;font-weight:400;}.elementor-1305 .elementor-element.elementor-element-536a32fe{text-align:center;}.elementor-1305 .elementor-element.elementor-element-536a32fe .elementor-heading-title{color:#1c2647;font-family:"PT Serif", Sans-serif;font-size:55px;font-weight:700;text-transform:capitalize;}.elementor-1305 .elementor-element.elementor-element-536a32fe > .elementor-widget-container{margin:0px 0px -10px 0px;padding:0px 0px 0px 0px;}.elementor-1305 .elementor-element.elementor-element-106c075.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-1305 .elementor-element.elementor-element-2918c272{--divider-border-style:solid;--divider-color:#dcdcdc;--divider-border-width:1px;width:auto;max-width:auto;align-self:center;}.elementor-1305 .elementor-element.elementor-element-2918c272 .elementor-divider-separator{width:78px;margin:0 auto;margin-center:0;}.elementor-1305 .elementor-element.elementor-element-2918c272 .elementor-divider{text-align:center;padding-top:0px;padding-bottom:0px;}.elementor-1305 .elementor-element.elementor-element-5e5596b4 .elementor-icon-wrapper{text-align:center;}.elementor-1305 .elementor-element.elementor-element-5e5596b4.elementor-view-stacked .elementor-icon{background-color:#ef5350;}.elementor-1305 .elementor-element.elementor-element-5e5596b4.elementor-view-framed .elementor-icon, .elementor-1305 .elementor-element.elementor-element-5e5596b4.elementor-view-default .elementor-icon{color:#ef5350;border-color:#ef5350;}.elementor-1305 .elementor-element.elementor-element-5e5596b4.elementor-view-framed .elementor-icon, .elementor-1305 .elementor-element.elementor-element-5e5596b4.elementor-view-default .elementor-icon svg{fill:#ef5350;}.elementor-1305 .elementor-element.elementor-element-5e5596b4 .elementor-icon{font-size:25px;}.elementor-1305 .elementor-element.elementor-element-5e5596b4 .elementor-icon i, .elementor-1305 .elementor-element.elementor-element-5e5596b4 .elementor-icon svg{transform:rotate(0deg);}.elementor-1305 .elementor-element.elementor-element-5e5596b4 > .elementor-widget-container{padding:0px 20px 0px 20px;}.elementor-1305 .elementor-element.elementor-element-5e5596b4{width:auto;max-width:auto;}.elementor-1305 .elementor-element.elementor-element-b2bd13d{--divider-border-style:solid;--divider-color:#dcdcdc;--divider-border-width:1px;width:auto;max-width:auto;align-self:center;}.elementor-1305 .elementor-element.elementor-element-b2bd13d .elementor-divider-separator{width:78px;margin:0 auto;margin-center:0;}.elementor-1305 .elementor-element.elementor-element-b2bd13d .elementor-divider{text-align:center;padding-top:0px;padding-bottom:0px;}.elementor-1305 .elementor-element.elementor-element-2d628a2{margin-top:25px;margin-bottom:0px;}.elementor-1305 .elementor-element.elementor-element-2716a65 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1305 .elementor-element.elementor-element-fc350ca .elementor-heading-title{color:#ffffff;font-family:"Muli", Sans-serif;font-size:18px;font-weight:400;line-height:26px;}.elementor-1305 .elementor-element.elementor-element-fc350ca > .elementor-widget-container{padding:50px 30px 50px 30px;background-color:#ef5350;}.elementor-1305 .elementor-element.elementor-element-1191203 > .elementor-element-populated{padding:10px 10px 10px 45px;}.elementor-1305 .elementor-element.elementor-element-084c35c .elementor-field-group{padding-right:calc( 35px/2 );padding-left:calc( 35px/2 );margin-bottom:25px;}.elementor-1305 .elementor-element.elementor-element-084c35c .elementor-form-fields-wrapper{margin-left:calc( -35px/2 );margin-right:calc( -35px/2 );margin-bottom:-25px;}body.rtl .elementor-1305 .elementor-element.elementor-element-084c35c .elementor-labels-inline .elementor-field-group > label{padding-left:0px;}body:not(.rtl) .elementor-1305 .elementor-element.elementor-element-084c35c .elementor-labels-inline .elementor-field-group > label{padding-right:0px;}body .elementor-1305 .elementor-element.elementor-element-084c35c .elementor-labels-above .elementor-field-group > label{padding-bottom:0px;}.elementor-1305 .elementor-element.elementor-element-084c35c .elementor-field-group .elementor-field{color:#c6c6c6;}.elementor-1305 .elementor-element.elementor-element-084c35c .elementor-field-group .elementor-field, .elementor-1305 .elementor-element.elementor-element-084c35c .elementor-field-subgroup label{font-family:"Muli", Sans-serif;font-size:16px;}.elementor-1305 .elementor-element.elementor-element-084c35c .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper){background-color:#ffffff;border-color:rgba(0,0,0,0.99);border-width:0px 0px 0px 0px;border-radius:0px 0px 0px 0px;}.elementor-1305 .elementor-element.elementor-element-084c35c .elementor-field-group .elementor-select-wrapper select{background-color:#ffffff;border-color:rgba(0,0,0,0.99);border-width:0px 0px 0px 0px;border-radius:0px 0px 0px 0px;}.elementor-1305 .elementor-element.elementor-element-084c35c .elementor-field-group .elementor-select-wrapper::before{color:rgba(0,0,0,0.99);}.elementor-1305 .elementor-element.elementor-element-084c35c .elementor-form .elementor-field:not(.elementor-select-wrapper), 
					.elementor-1305 .elementor-element.elementor-element-084c35c .elementor-form .elementor-field.elementor-select-wrapper select{padding:25px 30px 25px 30px;}.elementor-1305 .elementor-element.elementor-element-084c35c .elementor-form .elementor-field{box-shadow:0px 0px 40px 5px rgba(0,0,0,0.1);}.elementor-1305 .elementor-element.elementor-element-084c35c .elementor-button{background-color:#ef5350;font-family:"Muli", Sans-serif;font-size:16px;font-weight:700;text-transform:uppercase;border-radius:0px 0px 0px 0px;padding:20px 0px 20px 0px;}@media(max-width:1024px){.elementor-1305 .elementor-element.elementor-element-d79b995{padding:60px 0px 60px 0px;}.elementor-1305 .elementor-element.elementor-element-89375bb{padding:60px 0px 60px 0px;}.elementor-1305 .elementor-element.elementor-element-1191203 > .elementor-element-populated{padding:10px 10px 10px 10px;}}@media(max-width:767px){.elementor-1305 .elementor-element.elementor-element-d79b995{padding:60px 0px 40px 0px;}.elementor-1305 .elementor-element.elementor-element-89375bb{padding:60px 0px 60px 0px;}.elementor-1305 .elementor-element.elementor-element-536a32fe .elementor-heading-title{font-size:35px;line-height:40px;}.elementor-1305 .elementor-element.elementor-element-fc350ca .elementor-heading-title{font-size:16px;line-height:26px;}.elementor-1305 .elementor-element.elementor-element-fc350ca > .elementor-widget-container{padding:30px 20px 30px 20px;}.elementor-1305 .elementor-element.elementor-element-1191203 > .elementor-element-populated{margin:30px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-1305 .elementor-element.elementor-element-084c35c .elementor-button{font-size:15px;}}@media(min-width:768px){.elementor-1305 .elementor-element.elementor-element-2716a65{width:32.316%;}.elementor-1305 .elementor-element.elementor-element-1191203{width:67.684%;}}@media(max-width:1024px) and (min-width:768px){.elementor-1305 .elementor-element.elementor-element-2716a65{width:100%;}.elementor-1305 .elementor-element.elementor-element-1191203{width:100%;}}/* Start custom CSS for column, class: .elementor-element-4239617 */.elementor-1305 .elementor-element.elementor-element-4239617 .elementor-image img {
    width: 100%;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-5d52f6d */.story-share-img img {
    width: 100%;
}/* End custom CSS */
/* Start custom CSS for form, class: .elementor-element-084c35c */.elementor-form .elementor-field-type-radio [type="radio"]:checked,
.elementor-form .elementor-field-type-radio [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.elementor-form .elementor-field-type-radio [type="radio"]:checked + label,
.elementor-form .elementor-field-type-radio [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.elementor-form .elementor-field-type-radio [type="radio"]:checked + label:before,
.elementor-form .elementor-field-type-radio [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 14px;
    height: 14px;
    border: 1px solid #ef5350;
    border-radius: 100%;
    background: #fff;
}
.elementor-form .elementor-field-type-radio [type="radio"]:checked + label:after,
.elementor-form .elementor-field-type-radio [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: #ef5350;
    position: absolute;
    top: 4.5px;
    left: 2.5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.elementor-form .elementor-field-type-radio [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.elementor-form .elementor-field-type-radio [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.elementor-field select {
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
.elementor-1305 .elementor-element.elementor-element-084c35c .elementor-form .elementor-field-type-radio input:before {
    content: "";
    width: 13px;
    height: 13px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 1px solid #ef5350;
}

.elementor-1305 .elementor-element.elementor-element-084c35c .elementor-form textarea {
    height: 260px;
}
.elementor-1305 .elementor-element.elementor-element-084c35c .elementor-form .elementor-button {
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.elementor-1305 .elementor-element.elementor-element-084c35c .elementor-form .elementor-button:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 80%;
    background: #000;
    z-index: -1;
    opacity: 0;
}
.elementor-1305 .elementor-element.elementor-element-084c35c .elementor-form .elementor-button:hover:before,
.elementor-1305 .elementor-element.elementor-element-084c35c .elementor-form .elementor-button:focus:before {
    right: 0;
    opacity: .2;
}
@media (min-width: 960px) {
    .elementor-1305 .elementor-element.elementor-element-084c35c .elementor-form .elementor-field-type-submit {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0 !important;
    }
}/* End custom CSS */