.elementor-1085 .elementor-element.elementor-element-ba55df4{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;z-index:9999;}.elementor-1085 .elementor-element.elementor-element-fd9b21a > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-1085 .elementor-element.elementor-element-3df322f:not(.elementor-motion-effects-element-type-background), .elementor-1085 .elementor-element.elementor-element-3df322f > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:rgba(0,0,0,0.55);}.elementor-1085 .elementor-element.elementor-element-3df322f{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-1085 .elementor-element.elementor-element-3df322f > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-1085 .elementor-element.elementor-element-4f25cf9.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-1085 .elementor-element.elementor-element-4f25cf9.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-1085 .elementor-element.elementor-element-c76737d{text-align:left;}.elementor-1085 .elementor-element.elementor-element-c76737d img{width:100%;}.elementor-1085 .elementor-element.elementor-element-2d1124b > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-1085 .elementor-element.elementor-element-11d45f8 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:32px 0px 32px 0px;}.elementor-1085 .elementor-element.elementor-element-beb814c .elementor-button{font-family:"Muli", Sans-serif;font-size:13px;font-weight:700;text-transform:uppercase;fill:#ffffff;color:#ffffff;background-color:#ef5350;border-radius:0px 0px 0px 0px;padding:18px 40px 18px 40px;}.elementor-1085 .elementor-element.elementor-element-fe0473b{padding:0px 0px 0px 0px;}.elementor-1085 .elementor-element.elementor-element-f2f5ba2 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}@media(min-width:768px){.elementor-1085 .elementor-element.elementor-element-4f25cf9{width:26%;}.elementor-1085 .elementor-element.elementor-element-2d1124b{width:50.832%;}.elementor-1085 .elementor-element.elementor-element-11d45f8{width:22.5%;}}/* Start custom CSS for button, class: .elementor-element-beb814c */.elementor-1085 .elementor-element.elementor-element-beb814c a {
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.elementor-1085 .elementor-element.elementor-element-beb814c a:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 80%;
    background: #000;
    z-index: -1;
    opacity: 0;
}
.elementor-1085 .elementor-element.elementor-element-beb814c a:hover:before,
.elementor-1085 .elementor-element.elementor-element-beb814c a:focus:before {
    right: 0;
    opacity: .2;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-ba55df4 */.elementor-1085 .elementor-element.elementor-element-ba55df4 {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
}

@media (max-width:1290px) {
    .elementor-1085 .elementor-element.elementor-element-ba55df4 {
        top: 30px;
        left: 15px;
        right: 15px;
    }
}

@media (max-width:1200px) {
    .elementor-1085 .elementor-element.elementor-element-ba55df4 {
        top: 0;
        left: 0;
        right: 0;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-f2f5ba2 */.elementor-1085 .elementor-element.elementor-element-f2f5ba2 {
    min-height: 0;
}/* End custom CSS */