/*===== Background Color =====*/
.theme-btn,
.pagination > li a:hover,
.pagination > li a:focus,
.pagination > li a.next:hover, 
.pagination > li a.prev:hover,
.pagination > li a.next:focus, 
.pagination > li a.prev:focus,
#loader,
.btn-send > button,
.calendar_wrap > table caption,
.calendar_wrap > table tbody td#today,
.tagcloud > a:hover,
.tagcloud > a:focus,
.pagination > li a:hover,
.pagination > li a:focus,
code,
form.post-password-form > p > input:hover,
form.post-password-form > p > input:focus,
a.comment-reply-link:hover,
a.comment-reply-link:focus,
.pagination > li span,
.pagination > li a:hover,
.pagination > li span:focus,
.wp-block-button__link,
.paginate_link > span,
.paginate_link > a:hover,
.paginate_link > a:focus,
.paginate-links > span,
.paginate-links > a:hover,
.paginate-links > a:focus,
.error-page > form button,
.btn-area:hover span i,
.close-menu > i,
.responsive-menu ul ul li a:hover::before,
.get-quot,
.sticky-btn .btn-area,
.search-notfound > form button,
.blog-detail-meta > a.btn,
/*=== Donation Plugin Selector ===*/
body .cause-detail > strong a,
body .frequency li a:hover:before,
body .frequency li a:focus:before,
body .frequency li a.active::before,
body .donation-figures li a:hover,
body .donation-figures li a:focus,
body .single-proced-btn > a.proceed:hover,
body .single-proced-btn > a.proceed:focus,
body .btn-back,
body .wpdonation-box > button,
body .post-img > span,
body .btn-donate > a:hover,
body .btn-donate > a:focus,
.responsive-header .fa-close:hover,
.responsive-menu-ele ul ul li:before,
.sermons-slider-style .owl-nav button.owl-next:hover, 
.sermons-slider-style .owl-nav button.owl-prev:hover,
.sermons-slider-style .owl-nav button.owl-next:focus, 
.sermons-slider-style .owl-nav button.owl-prev:focus,
.donation-proces-btn > button:hover,
.donation-proces-btn > button:focus,
.donation-box-wraper-inner > a.donation-done:hover,
.donation-box-wraper-inner > a.donation-done:focus {
	background-color: #ef5350;
}
.ball-clip-rotate-pulse > div:first-child {
	background-color: #ef5350 !important;
}

/*===== Text Color =====*/
.header1-topbar-links ul > li.elementor-icon-list-item + li.elementor-icon-list-item:before,
.header1-menu ul.menu  li:hover > a,
.header1-menu ul.menu  li > a:focus,
.header2-menu ul.menu  li:hover > a,
.header2-menu ul.menu  li > a:focus,
#respond .row > p a:hover,
#respond .row > p a:focus,
.calendar_wrap > table tfoot td a:hover,
.calendar_wrap > table tfoot td a:focus,
.widget > ul li:hover > a,
.widget > ul li a:focus,
.blog-detail-meta > h2 a:hover,
.blog-detail-meta > h2 a:focus,
.wp-caption-text a,
figcaption a,
.widget_search form button:hover,
.widget_search form button:focus,
table tr th a, 
table tr td a,
ul.wp-block-archives li a:hover, ul.wp-block-categories li a:hover,
ul.wp-block-archives li a:focus, ul.wp-block-categories li a:focus,
.comments-area > span a:hover,
.comments-area > span a:focus,
.blog-detail-meta p a,
.is-style-outline .wp-block-button__link,
.wp-block-button.is-style-outline,
.error-page h1 i,
.error-page > a,
.error-form form > button:hover,
.error-form form > button:focus,
.search-notfound > h4 span,
.btn-area:hover em,
.close-menu > em,
.responsive-menu ul li.menu-item-has-children.active > a,
.responsive-menu ul ul li a:hover,
.address-box > i,
.main-menu > ul li:hover > a, 
.main-menu > div > ul li > a:focus,
.widget > div ul li:hover > a,
.widget > div ul li a:focus,
.comments-area > span i,
.blog-detail-meta > ul li:hover > a,
.blog-detail-meta > ul li > a:focus,
.comment-titles > span,
.owl-carousel .owl-nav button.owl-next:hover, 
.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:focus, 
.owl-carousel .owl-nav button.owl-prev:focus,
.main-menu > ul > li ul > li:hover > a, 
.main-menu > div > ul > li ul > li:hover > a,
.main-menu > ul > li ul > li > a:focus, 
.main-menu > div > ul > li ul > li > a:focus,
/*=== Donation Plugin Selector ===*/
body .cause-detail > span,
body .amount > span:not(.amount-return),
body .amount > span i,
body .circular > div::before,
body .circular span,
body .paragraph_default > p,
body .post-detail > h3 a:hover,
body .post-detail > h3 a:focus,
body ul.meta li i,
body ul.meta li a:hover,
body ul.meta li a:focus,
.widget > ul li::before, 
.widget > div ul li::before,
.sticky-header > div > div.sticky-menu > ul li:hover > a,
.sticky-header > div > div.sticky-menu > ul li a:focus {
	color: #ef5350;
}



/*===== Border Color =====*/
.is-style-outline .wp-block-button__link,
/*=== Donation Plugin Selector ===*/
body .donation-figures li a:hover,
body .donation-figures li a:focus,
body .el-select input[type="text"]:hover,
body .el-select input[type="text"]:focus,
body .textfield input[type="text"]:hover,
body .textfield input[type="text"]:focus,
body .textfield input[type="email"]:hover,
body .textfield input[type="email"]:focus,
body .textfield textarea:hover,
body .textfield textarea:focus
{
	border-color: #ef5350;
}

.ball-clip-rotate-pulse > div:last-child {
	border-top-color: #ef5350 !important;
	border-bottom-color: #ef5350 !important;
}

